# =========================== #
# Unity Generated (Required)  #
# =========================== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# =========================== #
#     Asset Store & Cache     #
# =========================== #
# Никогда не игнорируйте .meta файлы!
# !/[Aa]ssets/**/*.meta

# MemoryCaptures can get excessive in size.
/[Mm]emoryCaptures/
/[Rr]ecordings/

# =========================== #
# IDE & OS Generated          #
# =========================== #
# Visual Studio / MonoDevelop
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# VS Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.ide/

# OS
.DS_Store*
[Tt]humbs.db
ehthumbs.db
desktop.ini

# =========================== #
# Plugins & Exceptions        #
# =========================== #
# Gradle (Android)
.gradle/